/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h4, p{
    font-family: 'Fira Sans', sans-serif;
}

ul, nav {
    list-style: none;
}
a {
    text-decoration: none;
    text-align: center;
}

/* Main Styles */
.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-basis: 550px;
    width: 100%;
}

.grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	/* background-color: #80a3db; */
}
.image{
    flex: 1 1 20%;
    background: #95a5a6;
}
.descp{
    flex: 4 0 70%;
    background: #ecf0f1;
}
.descp div{
    display: flex;
    flex-direction: column;
}
.descp div h1{
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
.descp div p{
    padding: 0 10px;
}
.image div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image div h2{
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    /* padding: 10px;
    padding-top: 20px; */
    /* width: 100px; */
    padding: 10px;
    margin-top: 10px;
}
.image div img{
    height: 400px;
	padding: 0 20px 20px 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.aside{
    flex: 1 1 10%;
    background: #3498db;
}

/* Header Styles */
 header {
    position: absolute;
     width: 100%;
}

/* Info Styles */
.genre{
    display: inline-flex;
    padding: 5px 7px;
    background: red;
    border-radius: 20px;
    margin: 5px 10px;
}

.descp div h4{
    margin: 10px;
}
