#container{
    padding-top: 50px
  }
  .card { background-color: rgba(245, 245, 245, 0.1); }
  .card-header, .card-footer { opacity: 1}
  #card{
    width: 300px;
    position: relative;
    left: 400px;
  
  }
  #NitroRegister{
    font-size: 100px;
    color: red;
    text-align: center;
  font-family: 'Roboto', sans-serif;
  
  }